<!DOCTYPE html>
<html lang="en">
<meta charset='UTF-8'>

  <!--Top nav bar (fixed)-->
  <nav id="nav-bar" class="navbar navbar-light bg-faded">
    <a class="navbar-brand">Decision Maker</a>
  </nav>
    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
     <!--Borderbox CSS-->
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen" charset="utf-8">
    <!--Stylesheet-->
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <!--External JS-->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!--Link to Font Awesome-->
    <script src="https://use.fontawesome.com/e652c986a6.js"></script>
    <!--App JS-->
    <script type="text/javascript" src="/scripts/app.js"></script>
