<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Poll Submitted</title>
   <% include partials/_header %>
  </head>

  <body>
    <main class="container">
      <p> Your poll has been created! Check your email</p>
    </main>
  </body>
</html>
