<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create a New Poll</title>
   <link rel="shortcut icon" href="/favicon.ico" />
    <% include partials/_header %>
  </head>
  <body>
    <div class="container wide">
      <div class="col-md-10 line center"><hr></div>
      <div class="col-md-8 logo center"><h1>Strawberry Crumble</h1></div>
      <div class="col-md-8 slogan center"><h2>Decision making made as easy as pie</h2></div>
      <div class="col-md-8 heart center"><i class="fa fa-heart" aria-hidden="true"></i></div>

      <div class="col-md-10 line center"><hr></div>
    </div>

    <div class="jumbotron intro">
      <p class="intro-text"> <b>Do you ever CRUMBLE under the pressure of making a decision? And you feel like this is the last STRAW?</b></p>
      <p class="intro-text"> Decision making just got a whole lot easier. Simply enter your email, the title of your poll, the options below, and click submit! You'll receive an email with a link to send to friends to collect their votes and link to check the results</p>
    </div>

    <div class="container center_div poll-success hide">
      <h2>Your poll has been successfully created! Check your email</h2>
    </div>

    <div class="container pollForm center_div">
      <form id="pollForm" action="/" method="POST" class="form-horizontal">
        <div class= "form-group email-field">
          <label class="control-label col-md-1" for="email">Email:</label>
          <div class='col-md-10'>
            <input class= "form-control email" name="email" type="email" placeholder="Enter email">
          </div>
        </div>

        <div class= "form-group title-field">
          <label class="control-label col-md-1" for="title" data-options="1" id="title">Title:</label>
          <div class='col-md-10'>
           <input class= "form-control title" name="title" type="text" placeholder="Title"/>
          </div>
        </div>

        <div class= "form-group option-field" id= "pollTemplate1">
          <label class="control-label col-md-1" for="option1">Option:</label>
          <div class='col-md-5'>
          <input class= "form-control" name="option1" type= "text" placeholder="Option"/>
          </div>
          <div class='col-md-5'>
            <textarea class= "form-control" name="description1" type="text" placeholder="Description"></textarea>
          </div>
        </div>

        <!--Template for adding new field-->
        <div class="form-group hide" id= "pollTemplate2">
          <label class="control-label col-md-1" for="email">Option:</label>
          <div class='col-md-5'>
            <input class= "form-control" name="option2" type= "text" placeholder="Option"/>
          </div>

          <div class='col-md-5'>
            <textarea class= "form-control" name="description2" type="text" placeholder="Description"></textarea>
          </div>
        </div>

        <div class="form-group hide" id= "pollTemplate3">
          <label class="control-label col-md-1" for="email">Option:</label>
          <div class='col-md-5'>
            <input class= "form-control" name="option3" type= "text" placeholder="Option"/>
          </div>

          <div class='col-md-5'>
            <textarea class= "form-control" name="description3" type="text" placeholder="Description"></textarea>
          </div>
        </div>

        <div class="form-group hide" id= "pollTemplate4">
          <label class="control-label col-md-1" for="email">Option:</label>
          <div class='col-md-5'>
            <input class= "form-control" name="option4" type= "text" placeholder="Option"/>
          </div>

          <div class='col-md-5'>
            <textarea class= "form-control" name="description4" type="text" placeholder="Description"></textarea>
          </div>
        </div>


        <div class="form-group hide" id= "pollTemplate5">
          <label class="control-label col-md-1" for="email">Option:</label>
          <div class='col-md-5'>
            <input class= "form-control" name="option5" type= "text" placeholder="Option"/>
          </div>

          <div class='col-md-5'>
            <textarea class= "form-control" name="description5" type="text" placeholder="Description"></textarea>
          </div>
        </div>


        <div class="form-group hide" id= "pollTemplate6">
          <label class="control-label col-md-1" for="email">Option:</label>
          <div class='col-md-5'>
            <input class= "form-control" name="option6" type= "text" placeholder="Option"/>
          </div>

          <div class='col-md-5'>
            <textarea class= "form-control" name="description6" type="text" placeholder="Description"></textarea>
          </div>
        </div>

        <div class="form-group col-md-offset-1">
          <span class= "btn-group">
          <div class= "row">
            <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
            <button type="button" class="btn btn-default minusButton hide"><i class="fa fa-minus"></i></button>
            <button class="btn btn-default col-md-offset-1" type="submit">Submit</button>
            </div>
          </span>
        </div>
      </form>
    </div>
  </body>
  <footer>
    <% include partials/_footer%>
  </footer>
</html>
