<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create a New Poll</title>
    <% include partials/_header %>
  </head>

  <body>
  <main class="container">
  <form action="/" method="POST" class="form-horizontal">
    <div class= "form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class='col-sm-10'>
        <input class= ".formcontrol" name="email" type="email" placeholder="Enter email">
      </div>
    </div>

    <div class= "form-group">
      <label class="control-label col-sm-2" for="email">Title:</label>
      <div class='col-sm-10'>
       <input class= ".formcontrol" name="title" type="text" placeholder="Title">
      </div>
    </div>

    <div class= "form-group">
      <label class="control-label col-sm-2" for="email">Option:</label>
      <div class='col-sm-10'>
        <input class= ".formcontrol" name="option" type= "text" placeholder="Option">
      </div>
    </div>

    <div class= "form-group">
      <label class="control-label col-sm-2" for="email">Description:</label>
      <div class='col-sm-10'>
      <input class= ".formcontrol" name="description" type= "text" placeholder="Description">
      </div>
    </div>

    <div class= "form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-default" type="submit">Submit</button>
    </div>
    </div>
    </form>
    </div>
  </main>
  </body>
</html>
