<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create a New Poll</title>
    <% include partials/_header %>
  </head>

  <body>
  <main class="container">
    <div class= "form-group">
    <form action="/" method="POST">
      <input name="email" type="email" placeholder="Enter email">
      <input name="title" type="text" placeholder="Title">
      <input name="option" type= "text" placeholder="Option">
      <input name="description" type= "text" placeholder="Description">
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </div>
  </main>
  </body>
</html>
