<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Poll Submitted</title>
   <% include partials/_header %>
  </head>
  <body>

    <div class="container submitted">
      <h1> Your poll has been submitted!</h1>
    </div>
  </body>
</html>
