#footer {
  background-color: #9fdfbc;
  text-align: center;
  color: #fff;
  padding: 10px;
  margin: 0;
}

.github {
  font-size: 48px;
}

p.names {
  font-size: 12px;
}

p.text {
  padding-top: 20px;
}

.fa-heart {
  font-size: 20px;
}

a {
  color: #fff;
}

a:hover {
  color: #DC143C;
}
