.pollForm{
 padding-top: 20px;
}

.intro{
 // padding-top: 80px;
}

.center_div{
    margin: 0 auto;
    width:70%
}

.wide {
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  background-image:url('https://c.stocksy.com/a/RcN300/z0/805779.jpg');
  background-size:cover;
}

.wide img {
  width:100%;
  height:100%;
}

.logo {
  color:#fff;
  font-weight:800;
  font-size:14pt;
  padding:25px;
  text-align:center;
}

.line {
  padding-top:20px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

.submitted {
  padding-top: 20px;
}

.intro-text {
  padding-left: 20px;

}
